$font-stack:    Times, serif;
$primary-color: #555;
$secondary-color: red;
$div-height: 100px;

div.three {
  height: $div-height;
  font: 70% $font-stack;
  color: $primary-color;
  background: $secondary-color;
}