$font-stack:    Helvetica, sans-serif;
$primary-color: #fff;
$secondary-color: lime;
$div-height: 100px;

div.two {
  height: $div-height;
  font: 100% $font-stack;
  color: $primary-color;
  background: $secondary-color;
}
